.text-theme-icon {
  color: #ecb30a;
}
.btn-details {
  background: #ecb30a;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

/* :hover effecrt */
.cardMain {
  position: relative;
}
.overlay2 {
  position: absolute;
  left: -50%;
  bottom: 40%;
  background-color: rgba(1, 0, 0, 0.718);
  overflow: hidden;
  display: none;
  height: 0px;
}
.card-img2 {
  display: block;
  width: 100%;
  height: auto;
}

.card-main {
  width: 23% !important;
}
.card-img2:hover {
  transform: scale(1.1);
  transition: all 0.8s ease-in-out;
}
.mt-m5 {
  margin-top: -59px;
}
/* @media screen and (min-width: 481px) and (max-width: 1280px) {
  .card-main {
    width: 80% !important;
  }
} */

@media screen and (max-width: 480px) {
  .card-main {
    width: 90% !important;
  }
}
