
.bg-gray{
    background-color: #343a40;
}
.btn-gray{
    background-color: #343a40;
}

.bg-gray2{
    background-color: #e9e9e956;
    border-radius: 20px;
}
.w-33{
    width: 33%;
}
.bg-gray3{
    background-color: #130c0c;
   
}
.text-20{
    font-size: 20px;
}
.text-15{
    font-size: 15px;
}
.text-18{
    font-size: 18px;
}
.text-theme-gray{
    color: #666666;
}
.mt-100{
    margin-top: 50px;
}

.bg-wholeslae{
    background-color: #f9f5f0e9;
}

