hr {
  border: 2px solid rgb(0, 0, 0);
  width: 90%;
  margin: auto;
  z-index: 1;
}
.ps-r {
  position: relative;
}
.abs {
  position: absolute;
  top: 23px;
  right: 38%;
}
.-mb {
  margin-bottom: -20px;
  z-index: 2;
}

/* hover effect  */
.cardMain {
  position: relative;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.35);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}
.card-img {
  display: block;
  width: 100%;
  height: auto;
}

.cardMain:hover .overlay {
  height: 100%;
}

/* padding 50% */
.p-50p {
  padding-top: 50%;
  padding-left: 50%;
}

.bg-gray {
  background-color: #343a40;
}
.btn-gray {
  background-color: #343a40;
}

.bg-gray2 {
  background-color: #e9e9e956;
  border-radius: 20px;
}
.w-33 {
  width: 33%;
}
.bg-gray3 {
  background-color: #130c0c;
}
.text-20 {
  font-size: 20px;
}
.text-12 {
  font-size: 12px;
}
.text-13 {
  font-size: 13px;
}
.text-16 {
  font-size: 16px;
}
.text-15 {
  font-size: 15px;
}
.text-18 {
  font-size: 18px;
}
.text-theme-gray {
  color: #666666;
}
.mt-100 {
  margin-top: 50px;
}
.feature-hover:hover {
  background-color: #6666660d;
}

.bg-wholeslae {
  background-color: #f9f5f0e9;
}

.postion-wholesale {
  top: 22%;
  border-radius: 8px;
}
.bg-testimonial {
  background-color: #fbf2e6;
}
.py9060 {
  padding-top: 90px;
  padding-bottom: 60px;
}
.bg-light-test {
  background-color: #ffffff9a;
}
.effecttest:hover {
  background-color: #ffffff;
  transform: scale(1.02);
  transition: all 0.5s;
}
.headingHover:hover {
  transform: scale(1.1);
  transition: all 0.7s;
}
.cardImg:hover {
  transform: scale(1.1);
  transition: all 0.8s;
}

@media screen and (max-width: 480px) {
}
