.bg-theme-blue {
  background-color: #001c38;
}
.b-white {
  background-color: #ffffff;
}
.text-black {
  color: black !important;
}
.z-100 {
  z-index: 100;
}
.mt-50 {
  margin-top: 45px;
}
.drop:hover {
  font-weight: 600;
  border-bottom: #ecb30a solid 2px;
  color: #ecb30a !important;
}

.bg-gray {
  background-color: #343a40;
}
.btn-gray {
  background-color: #343a40;
}

.bg-gray2 {
  background-color: #e9e9e956;
  border-radius: 20px;
}
.w-33 {
  width: 33%;
}
.bg-gray3 {
  background-color: #130c0c;
}
.text-20 {
  font-size: 20px;
}
.text-15 {
  font-size: 15px;
}
.text-14 {
  font-size: 14px;
}
.text-18 {
  font-size: 18px;
}
.text-theme-gray {
  color: #666666;
}
.mt-100 {
  margin-top: 50px;
}
.text-nav {
  font-size: 1vw;
  border-bottom: #ffffff3c solid 2px;
}
.bg-wholeslae {
  background-color: #f9f5f0e9;
}
.navtxt {
  color: #020201;
}

.px115 {
  padding: 0px 115px;
}
.w-20 {
  width: 20%;
}

.text44 {
  font-size: 2.2vw;
  padding-top: 23px;
  padding-bottom: 18px;
}
.bg-top {
  background-color: #363636;
  height: 45px;
}
.sticky-top {
  position: sticky;
  top: 0;
}
