.bg-join {
  background: #f9f5f0;
}
.btn-join {
  background-color: #e8e8e8;
  border-radius: 5px;
  color: black;
}
.w-60 {
  background-color: #e8e8e8;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.text-komola {
  color: #b8662a;
}
