hr {
  border: 2px solid rgb(0, 0, 0, 0);
  width: 90%;
  margin: auto;
  z-index: 1;
}
.ps-r {
  position: relative;
}
.ps-a {
  position: absolute;
}

.-mb {
  margin-bottom: -20px;
  z-index: 2;
}
.bg-wh {
  background-color: rgb(255, 255, 255);
}

.bg-gray {
  background-color: #343a40;
}
.btn-gray {
  background-color: #343a40;
}
.text-20 {
  font-size: 20px;
}
.text-12 {
  font-size: 12px;
}
.text-15 {
  font-size: 15px;
}
.text-16 {
  font-size: 16px;
}
.text-18 {
  font-size: 18px;
}
.text-theme-gray {
  color: #666666;
}

.rounded-iconive {
  border-radius: 8px;
}
.card-main {
  width: 23% !important;
}
.headingHover:hover {
  transform: scale(1.1);
  transition: all 0.7s;
}
.cardImg:hover {
  transform: scale(1.1);
  transition: all 0.8s;
}
@media screen and (max-width: 480px) {
  .sidebarwidth {
    width: 100%;
  }
  .px120 {
    padding-left: 5%;
    padding-right: 5%;
  }
  .card-main {
    width: 100% !important;
  }
  .w-80 {
    width: 100% !important;
  }
  .gayeb {
    display: none !important;
  }
  .w-60p {
    width: 100% !important;
  }
  .w-25p {
    width: 100% !important;
  }
  .msm-auto {
    margin: 0% auto !important;
  }
}

/* responsive design for 1280 screen */
@media screen and (min-width: 481px) and (max-width: 1280px) {
  .card-main {
    width: 30% !important;
  }
}
@media screen and (max-width: 480px) {
  .card-main {
    width: 90% !important;
  }
  .img-card {
    width: 90% !important;
  }
}
