.orderContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 100px;
}

.orderInline {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.userInformation {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.orders {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
