.orderContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 100px;
  border: 1px solid black;
}

.orderInline {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.userInformation {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.orders {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  /* border: 1px solid black; */
  /* padding: 20px; */
}

.order {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 20px;
  border: 1px solid black;
  padding: 20px;
}

.order-control {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  font-size: large;
}

.order-information {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-right: auto;
}

.order-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-left: auto;
  /* border: 1px solid black; */
  width: 200px;
}

.order-button {
  width: 100%;
}

.label {
  font-weight: bold;
}
